/* font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a{
    text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo{
    padding-bottom: 20px;
}


.widget {
    padding: 20px;
    border: 5px solid #f1f1f1;
    background: #fff;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;    
    background-color: #4BA8C4;
}

.widget ul {
    margin: 0;
    padding: 0;
    width: 250px;
    height: 100vh;
}

.widget li {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.widget li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.widget a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}

.widget li:hover a{
    color: blue;
    width: auto;
}

.widget a i {
    margin-right: 15px;
}
